faster-whisper
fastapi
uvicorn[default]
python-multipart
piper-tts
soundfile
numpy
scipy
openwakeword
pyaudio
opencv-python
nvidia-cublas-cu12; sys_platform != "darwin"
nvidia-cudnn-cu12>=9,<10; sys_platform != "darwin"
clap-detector